backcall==0.1.0
Click==7.0
colorama==0.4.1
decorator==4.0.11
imageio==2.1.2
InstagramAPI==1.0.2
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
moviepy==0.2.3.2
numpy==1.16.1
parso==0.3.4
pickleshare==0.7.5
Pillow==5.4.1
pip-chill==0.1.8
prompt-toolkit==2.0.8
Pygments==2.3.1
requests==2.11.1
requests-toolbelt==0.7.0
six==1.12.0
tqdm==4.11.2
traitlets==4.3.2
wcwidth==0.1.7
